header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.8rem;
}
.Header-heading{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Link{
    text-decoration: none;
    color: #6f6f6f;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}
.Link:hover{
    color: #4717F6;
    font-weight: 600;
}
.Header-profile-wrapper{
    display: flex;
}
.profile{
    background-color: #4717F6;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem ;
    gap: 0.6rem;
}
.profile span{
    font-size: 1.4rem;
    
}